:root {
    --style-border-radius: 0px;
    --style-side-padding: 170px;

    --color-background: rgb(248, 248, 248);
    --color-theme: rgb(29, 112, 184);
    --color-theme-shallow: rgb(186, 217, 245);
    --color-hr: #b3b3b3;
    --color-text: black;
    --color-contrast-text: white;
    --color-mono-background: rgba(230, 230, 230, 0.85);
    --color-box-background: rgba(170, 170, 170, 0.12);
    --color-link: rgb(0, 107, 201);
    --color-link-active: black;
    --color-link-active-background: rgb(255, 208, 0);
    --color-green: green;
    --color-grey: rgb(71, 71, 71);
    --color-pink: rgb(255, 120, 142);
}

@font-face {
    font-family: "Cabin";
    src: url("../font/Cabin-Regular-Modified.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bilibili Icon";
    src: url("../font/Bilibili_Icons_by_Jiuru.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Web Icon";
    src: url("../font/JR_icons.ttf");
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: "Cabin", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    font-size: 18px;
}

/* JavaScript 未启用警告 */
.javascript-disable-warning {
    color: white;
    background-color: red;
}

main {
    margin: 20px var(--style-side-padding);
    padding: 0;
}

h1 {
    color: var(--color-theme);
    padding: 0;
    margin: 15px 4px;
    font-weight: normal;
    font-size: 36px;
}

h1 b {
    color: var(--color-theme);
    padding: 0;
    font-weight: bold;
}

h2 {
    color: var(--color-theme);
    padding: 0;
    margin: 15px 4px;
    font-weight: normal;
    font-size: 33px;
}

h2 b {
    color: var(--color-theme);
    padding: 0;
    font-weight: bold;
}

h3 {
    color: var(--color-theme);
    padding: 0;
    margin: 15px 4px;
    font-weight: normal;
    font-size: 29px;
}

h3 b {
    color: var(--color-theme);
    padding: 0;
    font-weight: bold;
}

h4 {
    color: var(--color-theme);
    padding: 0;
    margin: 15px 4px;
    font-weight: normal;
    font-size: 26px;
}

h4 b {
    color: var(--color-theme);
    padding: 0;
    font-weight: bold;
}

h5 {
    color: var(--color-theme);
    padding: 0;
    margin: 15px 4px;
    font-weight: normal;
    font-size: 23px;
}

h5 b {
    color: var(--color-theme);
    padding: 0;
    font-weight: bold;
}

h6 {
    color: var(--color-theme);
    padding: 0;
    margin: 15px 4px;
    font-weight: normal;
    font-size: 20px;
}

h6 b {
    color: var(--color-theme);
    padding: 0;
    font-weight: bold;
}

p {
    color: var(--color-text);
    font-size: 18px;
    margin: 0;
    padding: 4px;
}

a {
    color: var(--color-link);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    padding: 0;
    margin: 4px;
    font-size: 18px;
}

a.outbound::before {
    content: "B";
    font-family: "Web Icon";
}

a:hover {
    font-weight: bold;
    text-decoration-thickness: 1.5px;
}

a:active {
    background-color: var(--color-link-active-background);
    color: var(--color-link-active);
}

/* 伪装成按钮的超链接 */
a.button-big, a.button-small{
    text-decoration: none;
}

a.button-big:hover, a.button-small:hover {
    font-weight: normal
}

/* 图标 */
i.w {
    font-style: normal;
    font-family: "Web Icon";
    margin: 5px;
    padding: 0;
    user-select: none;
    pointer-events: none;
}

i.b {
    font-style: normal;
    font-family: "Bilibili Icon";
    margin: 5px;
    padding: 0;
    user-select: none;
    pointer-events: none;
}

hr {
    background: var(--color-hr, #b3b3b3);
    border: 0;
    height: 1px;
    padding: 0px;
    margin: 1em 0px;
}

em {
    font-style: normal;
    color: var(--color-text);
    background-color: var(--color-link-active-background);
    margin: 0px;
    padding: 3px;
}

header {
    margin: 0;
    background-color: var(--color-theme);
    color: var(--color-contrast-text);
    padding: 5px var(--style-side-padding);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.header-item {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.header-item-button {
    font-weight: normal;
    text-decoration: none;
    padding: 0 7px;
    margin: 0 10px;
    border-bottom: 3px solid transparent;
    transition: transform 0.1s ease, border-bottom 0.1s ease;
    display: flex;
    align-items: center;
    height: 100%;
}

.header-item-button:hover {
    font-weight: normal;
    border-bottom: 3px solid var(--color-contrast-text);
    transition: transform 0.1s ease, border-bottom 0.1s ease;
}

.header-item-button:active {
    background-color: var(--color-contrast-text);
    color: var(--color-theme);
    font-weight: normal;
    border-bottom: 2px solid var(--color-contrast-text);
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6,
header p,
header a {
    color: var(--color-contrast-text);
}

/* 脚注 */
footer {
    border-top: 5px solid var(--color-theme);
    background-color: var(--color-box-background);
    margin: 40px 0 0 0;
    padding: 10px var(--style-side-padding);
}

.footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-about {
    align-items: flex-end;
}

.footer-about a {
    color: var(--color-grey);
}

/* Github Page 标识 */
.github-page-note {
    color: var(--color-text);
    font-size: 25px;
    text-decoration: none;
}

.github-page-note:hover {
    text-decoration: none;
    font-weight: normal;
}

.github-page-note:active {
    font-weight: normal;
}

/* 按钮 */
button {
    font-family: "Cabin";
}

/* 按钮基础样式 */
.button-big,
.button-small {
    border-radius: var(--style-border-radius);
    background-color: var(--color-contrast-text);
    color: var(--color-text);
    border: 1px solid var(--color-text);
    cursor: pointer;
}

/* 大按钮 */
.button-big {
    min-width: 80px;
    box-shadow: 0 3px 0 0 var(--color-text);
    font-size: 17px;
    padding: 5px 13px;
    margin: 4px;
}

.button-big:hover {
    background: var(--color-box-background);
}

.button-big:active {
    transform: translateY(2px);
    box-shadow: 0 1px 0 0 var(--color-text);
}

/* 小按钮 */
.button-small {
    min-width: 50px;
    box-shadow: 0 2px 0 0 var(--color-text);
    font-size: 15px;
    padding: 2px 4px;
    margin: 2px;
}

.button-small:hover {
    background: var(--color-box-background);
}

.button-small:active {
    transform: translateY(1px);
    box-shadow: 0 1px 0 0 var(--color-text);
}

button .flat {
    border: none;
    font-size: 17px;
    min-width: 80px;
    padding: 8px 13px;
    margin: 4px;
    color: var(--color-text);
    background-color: var(--color-box-background);
}

.button-full-green {
    color: var(--color-contrast-text);
    background-color: var(--color-green);
    text-decoration: none;
    font-weight: bold;
    border: none;
    font-size: 17px;
    min-width: 80px;
    padding: 8px 13px;
    margin: 4px;
    cursor: pointer;
}

.button-full-green.normal {
    font-weight: normal;
}


/* 提示线 */
.callout.normal {
    margin: 20px auto;
    border-left: 5px solid var(--color-theme);
    padding: 2px 20px;
}

.callout.caution {
    margin: 20px auto;
    border-left: 5px solid var(--color-theme);
    --color-theme: rgb(255, 153, 0);
    --color-theme-shallow: rgb(255, 195, 106);
    padding: 2px 20px;
}

.callout.warning {
    margin: 20px auto;
    border-left: 5px solid var(--color-theme);
    --color-theme: rgb(192, 0, 0);
    --color-theme-shallow: rgb(255, 106, 106);
    padding: 2px 20px;
}

.callout.modest {
    margin: 20px auto;
    border-left: 5px solid var(--color-theme);
    padding: 2px 20px;
    --color-theme: var(--color-grey);
    --color-theme-shallow: rgb(209, 209, 209);
}

.callout.pink {
    margin: 20px auto;
    border-left: 5px solid var(--color-theme);
    padding: 2px 20px;
    --color-theme: var(--color-pink);
    --color-theme-shallow: rgb(255, 224, 224);
}

.callout.background {
    background-color: var(--color-theme-shallow);
}


/* 列表 */
ul {
    margin: 10px 50px;
    padding: 0;
}

ol {
    margin: 10px 50px;
    padding: 0;
}

li {
    margin: 5px;
    padding: 0;
}

/* 等宽字体 */
pre {
    font-family: "Consolas", "Menlo", "Droid Sans Mono", monospace, sans-serif;
    font-size: 18px;
    background-color: var(--color-mono-background);
}

code {
    font-family: "Consolas", "Menlo", "Droid Sans Mono", monospace, sans-serif;
    font-size: 16px;
    background-color: var(--color-mono-background);
    margin: auto 5px;
    padding: 3px;
}

/* 对话框 */
dialog {
    min-width: 300px;
    min-height: 200px;
    max-width: 80%;
    max-height: 80%;
    border: 1px solid var(--color-grey);
    padding: 0;
    box-shadow: 0 4px 20px var(--color-grey);

    display: none;
    resize: both;
    position: fixed;
}

dialog[open] {
    display: flex;
    flex-direction: column;
}

dialog::backdrop {
    background: transparent;
}

dialog .header {
    background-color: var(--color-theme);
    color: var(--color-contrast-text);
    padding: 0;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

dialog .header .header-title {
    padding: 4px;
    margin: 0;
    font-size: 22px;
}

dialog .header-controls button {
    background-color: var(--color-theme);
    color: var(--color-contrast-text);
    border: none;
    height: 100%;
}

dialog .header-controls button:hover {
    color: var(--color-theme);
    background-color: var(--color-contrast-text);
}

dialog .body {
    margin-bottom: auto;
}

dialog .controls {
    background-color: var(--color-box-background);
    padding: 3px 13px 3px 3px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

/* 各种导入 */
input {
    background-color: var(--color-box-background);
    border: none;
    font-size: 16px;
    border: 1px solid var(--color-grey);
    font-family: "Cabin", sans-serif;
}

input:hover {
    border: 1px solid var(--color-theme);
    background-color: var(--color-theme-shallow);
}

input:active {
    border: 1px solid var(--color-theme);
    background-color: var(--color-theme-shallow);
}

/* 根据不同设备调整css */
@media only screen and (max-width: 960px) {
    :root {
        --style-side-padding: 10px;
    }

    header {
        height: auto;
        max-height: none;
        flex-wrap: wrap;
    }
}

@media (min-width: 961px) {
    header {
        height: 45px;
        max-height: 45px;
    }
}